/* ============================== */
/* Swiper JS */
/* ============================== */
swiper-container {
    width: 100%;
    height: 100%;
    
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
   
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    object-fit: cover;
    transition: border-radius 0.3s ease-in-out;
  }
 .swiper-bx{
    padding: 4rem 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 }
 
/* ============================== */
/* End Swiper JS */
/* ============================== */

.title.sercice-heaing{
   font-size: 1.2rem;
   text-transform: uppercase;
   color: #fff;
}
.subtitle.service-sub-title{
   color: #fa3b80 ;
}
.title.service-title{
   color: #ffffff;
}
.readmore-btn.service-btn{
   color: #fff;
}
/* =============================== */
/* Banner icons*/
/* =============================== */
.slider-image .heart, .slider-image .heart,
.slider-image .notifications{
   position: absolute;
   width: 70px;
   z-index: 9;
}
.slider-image .heart{
   right: -25px;
}
.slider-image .notifications{
   bottom: 50%;
   left: -25px;

}
.banner-icons{
   position: relative;
}
.banner-icons .follow{
   position: absolute;
   z-index: 9;
   width: 70px;   
}
/* footer */
.footer-widget-list-icon li span a{
   text-decoration: none;
   color: #525252;
}
.footer-widget-list-icon li span a:hover{
   color: #292e7a;
}